* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.pole-container {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    aspect-ratio: 9 / 5;
}

.pole {
    width: 34%;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    z-index: 1;
    justify-content: flex-end;
}


.ring {
    border-radius: 30px;
    height: 12%;
    margin: 0 auto;
    border: solid black 1px;
    z-index: 2;
    font-size: 30px;
}

.ring-1 {
    background-color: red;
    width: 40%;
    order: 1;
}

.ring-2 {
    background-color: orange;
    width: 50%;
    order: 2;
}

.ring-3 {
    background-color: yellow;
    width: 60%;
    order: 3;
}

.ring-4 {
    background-color: green;
    width: 70%;
    order: 4;
}

.ring-5 {
    background-color: blue;
    width: 80%;
    order: 5;
}

.ring-6 {
    background-color: fuchsia;
    width: 90%;
    order: 6;
}

.ring-7 {
    background-color: purple;
    width: 100%;
    order: 7;
}

#pole-background {
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-100%);
}


.highlight {
    border: dotted red 4px;
}

.hide {
    display: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
