* {
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    color: #f1faee;
}

body {
    text-align: center;
    background-image: url(tower.png), url(tower.png), url(sunset.jpg);
    background-position: left top, right top, left top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 350px 800px, 350px 800px, 100% 100vh;
    overflow-y: hidden;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

.instructions {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

.pole-container {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    aspect-ratio: 9 / 5;
    background: #f0ebd8;
}

.pole {
    width: 34%;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    z-index: 1;
    justify-content: flex-end;
}


.ring {
    border-radius: 30px;
    height: 12%;
    margin: 0 auto;
    border: solid black 1px;
    z-index: 2;
    font-size: 30px;
    color: #f0ebd8;
    text-shadow: 2px 2px black;
}

.ring-1 {
    width: 40%;
    order: 1;
    background-color: red;
    color: white;
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

.ring-2 {
    width: 50%;
    order: 2;
    background-color: orange;
    color: white;
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

.ring-3 {
    width: 60%;
    order: 3;
    background-color: yellow;
    color: black;
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

.ring-4 {
    background-color: green;
    width: 70%;
    order: 4;
    color: white;
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

.ring-5 {
    background-color: blue;
    width: 80%;
    order: 5;
    color: white;
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

.ring-6 {
    background-color: fuchsia;
    width: 90%;
    order: 6;
    color: white;
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

.ring-7 {
    background-color: purple;
    width: 100%;
    order: 7;
    color: white;
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

#pole-background {
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-100%);
}


.highlight {
    border: dotted red 4px;
}

.hide {
    display: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.variable-rings {
    margin: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.turn-counter {
    margin: 0 30px;
}


.solve-button, .reset-button, .increase, .decrease {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  font-size: 18px;
  margin: 0 40px;
}

.ring-counter {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin: auto;
}


@media only screen and (max-width: 700px) {
    body {
        background-image: url(tower.png), url(sunset.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100% 700px, 100% 100%;
        background-position: center top, left top;
    }
    .ring {
        font-size: 22px;
    }
    .variable-rings {
        margin: 0;
    }
    .solve-button, .reset-button, .increase, .decrease {
        margin: 0 8px;
        padding: 0 8px;
        height: 38px;
    }
    .turn-counter {
        margin: 0;
    }
}
